* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

.app {
  background-image: url(./assets/cold-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.45s linear;
}

.app.warm {
  background-image: url(./assets/warm-bg.jpg);
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  padding: 25px;
}

.search-box {
  width: 100%;
  position: relative;
}

.search-box .search-bar {
  width: 100%;
  display: block;
  padding: 15px;
  margin-top: -25px;

  outline: none;
  border: none;
  appearance: none;

  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

  font-family: inherit;
  color: #333;
  font-size: 18px;

  transition: 0.45s linear;
}

.search-box .search-bar:placeholder {
  font-family: inherit;
  font-size: 18px;
}

.search-box .submit {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  cursor: pointer;
  padding: 8px 8px;
  outline: none;
  border: none;
  border-radius: 10px;

  background-color: rgba(247, 120, 17, 0.2);
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
}

.location-box {
  margin-top: 50px;
  text-align: center;
}

.location-box .location {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box {
  margin-top: 10px;
  text-align: center;
}

.weather-box .temp {
  display: inline-block;
  padding: 15px 25px;
  margin: 20px auto;

  font-size: 100px;
  color: white;
  font-weight: bold;

  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 3px 5px rgba(50, 50, 70, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.weather-box .weather {
  color: white;
  font-size: 36px;
}

.loading {
  width: 150px;
  margin: auto;
  margin-top: 50px;
}

.spinner {
  width: 100%;
  background-color: transparent;
}

img {
  width: 100%;
  display: block;
}
